body{
    background-color: black;
    color: white;
    margin-left: 50px;
}
.box{
    display: flex;
}
.intro{
    height: fit-content;
    width: fit-content;
    margin-top: 200px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 80px;
}
.image{
    margin-left: 20%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.image img{
    height: 500px;
    width: 300px;
    border-radius: 20%;
    border: 10px solid grey;
}
button{
    border-radius: 5px;
    font-size: medium;
    height: 30px;
}
table{
    color: white;
}